<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Kandidat</title>
    
</head>

<body>
    <h1>Daftar Kandidat</h1>
    <ul>
        <% candidates.forEach(candidate=> { %>
            <li>
                <%= candidate.name %> - Partai: <%= candidate.party %> - Posisi: <%= candidate.position %>
            </li>
            <% }) %>
    </ul>
    <a href="/">Kembali ke Halaman Utama</a>
</body>

</html>