<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Pemilu</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Hasil Pemilu</h1>
    <ul>
        <% results.forEach(result=> { %>
            <li>
                <%= result.kandidat %> - Suara: <%= result.total_votes %>
            </li>
            <% }) %>
    </ul>
    <a href="/">Kembali ke Halaman Utama</a>
</body>

</html>